.container {
  @apply max-w-7xl px-4 md:px-8;
}

.paper {
  @apply rounded border border-void-900 bg-void-500 bg-opacity-85 backdrop-filter backdrop-blur-sm;
}

.strong, strong {
  @apply text-gray-900 dark:text-white;
}

.box {
  @apply flex justify-center items-center p-2 min-w-42px min-h-42px rounded bg-void-600 border border-void-900 px-2 py-1;
}

.box:focus-within label {
  @apply text-void-100;
}
