@import './markdown.css';

@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/press-start-2p.woff2');
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply overflow-x-hidden text-gray-700 dark:text-gray-200;
}

html.dark {
  @apply bg-void-700;
  color-scheme: dark;
}

